@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 400;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* button {
    font-family: inherit;
    cursor: pointer;
} */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hero-title {
  font-family: Raleway;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.suptitle-primary {
  display: block;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}

.suptitle-secondary {
  display: block;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.suptitle-primary::before,
.suptitle-secondary::before {
  display: inline-block;
  content: '';
  margin-right: 20px;
  width: 60px;
  height: 1px;
  vertical-align: middle;
  background-color: rgba(157, 164, 189, 0.6);
}

.suptitle-primary::before {
  background-color: #303030;
}

h2.section-title {
  margin-top: 0;
  margin-bottom: 44px;
  font-family: Raleway;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #303030;
}

h2.section-title.lighten {
  color: #ffffff;
}

.primary-btn {
  display: inline-block;
  padding: 12px 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #FF6C00;
  border-radius: 25px;
}

.primary-btn.darken {
  color: #303030;
}

/* Шапка сайта */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* Навигация */
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 30px 55px 0;
  /* position: fixed; */
  top: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  height: 56px;
}

.logo-icon {
  width: 68px;
  height: 56px;
  margin: 0 32px;
  fill: #303030;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-links li {
  margin: 0 40px;
}

a.nav-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
}

a.nav-link:hover, a.nav-link:focus {
  color: #FF6C00;
}

/* Боковая панель */
.sidebar {
  width: 155px;
  height: 100vh;
  background-color: #ffffff;
}

.social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

a.social-link:hover, a.social-link:focus {
  color: #FF6C00;
}

/* Слайдер */
.hero-description {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

.slider {
  width: calc(100% - 155px);
  background-image: url(../images/Slider1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

/* Уникальный контент страницы */
.section-box {
  padding: 130px 55px;
  width: 100%;
}

/* О нас */
.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-image-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 48%;
}

.about-image-box img {
  width: 48%;
}

.description-container {
  width: 48%;
}

p.section-description {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: #555555;
}

/* Услуги и цены */
.price-section {
  background-image: url(../images/price-background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #111319;
}

.price-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 49%;
  padding: 30px 40px;
}

.price-list:nth-child(odd) {
  background: -webkit-gradient(linear, left top, left bottom, from(#171A24), to(rgba(23, 26, 36, 0.2)));
  background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-list:nth-child(even) {
  background: -webkit-gradient(linear, left top, left bottom, from(#090B13), to(rgba(9, 11, 19, 0.2)));
  background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.price-item p, .price-item span {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

/* .price-section .primary-btn {
    margin-left: auto;
    margin-left: auto;
} */
/* Почему именно мы */
/* .why-section {
     display: flex;
    justify-content: space-between; 
} */
.number-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 48%;
  padding: 0 100px;
}

.number-box {
  min-width: 170px;
  width: 48%;
  height: 132px;
  margin-top: 30px;
  background-color: #F7F7F7;
}

.number-box p {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.357;
  letter-spacing: 0.05em;
  color: #303030;
}

.number-box span {
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: #303030;
}

/* Наши мастера */
.masters.section-box {
  background-color: #F7F7F7;
}

.masters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
}

.masters-content {
  padding: 30px 82px 0;
  text-align: center;
}

.master-card p {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 0.02em;
  color: #303030;
}

.master-card span {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.357;
  letter-spacing: 0.02em;
  color: #FF6C00;
}

.master-social-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.master-social-box .link:not(:last-child) {
  margin-right: 10px;
}

.master-social-box .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  fill: #303030;
  background-color: #ffffff;
  border-radius: 50%;
}

.master-social-box .link:hover, .master-social-box .link:focus {
  fill: #FF6C00;
}

/* Портфолио */
.portfolio.suptitle-primary {
  display: inline-block;
  margin-bottom: 44px;
}

.image-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Подвал страницы */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 640px;
  height: auto;
  padding: 0 55px;
  background-color: #191c26;
  background-image: url("../images/footer-background.png");
  background-repeat: no-repeat;
  background-position: right top;
}

.form__wrapper {
  padding: 130px 40px 193px 0;
  width: 50%;
  height: inherit;
}

/* Форма Онлайн-записи */
.footer__form {
  width: 100%;
  margin-right: 140px;
}

.form__label {
  position: relative;
  display: inline-block;
  max-width: 265px;
  width: calc(50% - 15px);
  margin-bottom: 44px;
}

.form__legend {
  position: absolute;
  top: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  -webkit-transition: translate .1s linear;
  transition: translate .1s linear;
}

.form__label:focus .form__legend,
.form__label:hover .form__legend {
  color: #ffffff;
  -webkit-transform: translate(-2px, -24px);
          transform: translate(-2px, -24px);
}

.form__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: none;
  color: #ffffff;
  background-color: transparent;
}

.form__input:not(:placeholder-shown) + .form__legend {
  -webkit-transform: translate(-2px, -24px);
          transform: translate(-2px, -24px);
}

.form__input:hover, .form__input:focus {
  border-color: #ffffff;
}

.form__textarea {
  display: block;
  width: 100%;
  resize: none;
  margin-bottom: 44px;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: none;
  background-color: transparent;
}

.form__textarea::-webkit-input-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.form__textarea:-ms-input-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.form__textarea::-ms-input-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.form__textarea::placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.send-button {
  padding: 12px 38px;
}

/* Контакты */
.footer__contacts {
  padding: 130px 100px;
  width: 50%;
  height: inherit;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

.contact-box {
  margin-bottom: 70px;
}

address p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-style: normal;
  color: #9DA4BD;
}

address a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  color: #9DA4BD;
}

.icon-map-pin, .icon-phone, .icon-mail {
  margin-right: 16px;
}

.footer .suptitle-secondary {
  color: #ffffff;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 125px;
  height: auto;
  padding: 0 55px;
  background-color: #ffffff;
}
/*# sourceMappingURL=main.css.map */