
:root{
    --primary-color: #FF6C00;
    --secondary-color: #191c26;

    --text-primary: #303030;
    --text-primary-lighten: #555555;
    --text-secondary: #9DA4BD;

}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 400;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Навигация */
.nav-links {
    display: inline-block;
}

.nav-links li {
    display: inline-block;
    background-color: lightskyblue;
}

a.nav-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;

    color: #FFFFFF;
}

a.nav-link:hover, a.nav-link:focus {
    color: var(--primary-color);
}

.contact-box {
    display: inline-block;
}

.primary-btn { 
    padding: 12px 20px;

    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;

    color: #FFFFFF;

    border: 1px solid var(--primary-color);
    border-radius: 25px;
}

/* Боковая панель */
.social-box

.social-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;

    color: var(--text-primary);
    transform: rotate(-90deg);
}

.social-link:hover, .social-link:focus {
    color: var(--primary-color);
}

/* Слайдер */

.suptitle-primary {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;

    color: var(--text-primary);
}

.suptitle-secondary {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    
    color: rgba(157, 164, 189, 0.6); 
}

.hero-description {
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 0.02em;

    color: var(--text-secondary);
}


/* О нас */

h2.section-title {
    font-family: Raleway;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;

    color: var(--text-primary);
}

h2.section-title.lighten {
    color: #FFFFFF;
}

.primary-btn.darken {
    color: var(--text-primary);
}

/* Услуги и цены */

.price-list {
    display: inline-block;
}

.price-item p, .price-item span {
    display: inline-block;

    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 0.02em;

    color: var(--text-secondary);
}

/* Почему именно мы */
.section-description {
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 0.02em;

    color: var(--text-primary-lighten);
}


/* Почему именно мы */
.number-box {
    display: inline-block;
    width: 170px;
    height: 133px;
    padding: 20px 24px;
    text-align: center;

    background-color: #F7F7F7;
}

.number-box p {
    display: block;

    font-weight: 700;
    font-size: 42px;
    line-height: 1.357;
    letter-spacing: 0.05em;

    color: var(--text-primary);
}

.number-box span {
    display: inline-block;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.02em;

    color: var(--text-primary);
}

/* Наши мастера */
/* text-align: center; */


.master-card h4 {
    font-size: 18px;
    line-height: 1.38;
    letter-spacing: 0.02em;

    color: var(--text-primary);
}

.master-card p {
    
    font-size: 14px;
    line-height: 1.357;
    letter-spacing: 0.02em;
    
    color: var(--primary-color);
}


/* Подвал страницы */

address {
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    
    color: var(--text-secondary); 
}

address a {
    display: block;
      
    color: var(--text-secondary); 
}

