/* Подвал страницы */
.footer {
    // Mobile
    margin-right: auto;
    margin-left: auto;

    background-color: $secondary-color;

    background-size: 480px 496px; 
    background-repeat: no-repeat;
    background-position: bottom;

    background-image: url('../images/footer/footer-mobile.png');
     
        @media screen and (min-device-pixel-ratio: 1.5),
            screen and (min-resolution: 144dpi),
            screen and (min-resolution: 1.5dppx) {
                background-image: url('../images/footer/footer-mobile@2x.png');   
    }

// Tablet
    @media screen and (min-width: 768px) {
        background-size: 768px 449px;

        background-image: url('../images/footer/footer-tablet.png');
         
        @media screen and (min-device-pixel-ratio: 1.5),
            screen and (min-resolution: 144dpi),
            screen and (min-resolution: 1.5dppx) {
                background-image: url('../images/footer/footer-tablet@2x.png');   
        }
    }

// Desktop
    @media screen and (min-width: 1280px) {
        width: 1280px;

        background-size: 625px 644px;
        background-position: right top;

        background-image: url('../images/footer/footer-desktop.png');
        
          
        @media screen and (min-device-pixel-ratio: 1.5),
            screen and (min-resolution: 144dpi),
            screen and (min-resolution: 1.5dppx) {
                background-image: url('../images/footer/footer-desktop@2x.png');   
        }
    }
}

.footer__wrapper {
    @media screen and (min-width: 1280px) {
        display: flex;
    }
}

.form__wrapper {
    text-align: center;
    padding-bottom: 84px;

    @media screen and (min-width: 768px) {
        text-align: left;
        padding-bottom: 100px;
    }

    @media screen and (min-width: 1280px) {
        margin-right: 140px;
        width: 560px;
        padding-bottom: 0;
    }
}

/* Форма Онлайн-записи */
.footer__form {
    margin-top: 44px;
}

.form__label {
    position: relative;
    display: block;
    margin-bottom: 44px;

    @media screen and (min-width: 768px) {
        display: inline-block;
        width: 330px;  
    }

    @media screen and (min-width: 1280px) {
        width: 270px;  
    }
}

.form__label:first-child {
    @media screen and (min-width: 768px) {
        margin-right: 25px;
    }

    @media screen and (min-width: 1280px) {
        margin-right: 15px;
    }


}


.form__name {
    position: absolute;
    top: 0;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: rgba(157, 164, 189, 0.4);

    transition: translate .1s linear;
}

.form__label:focus .form__name,
.form__label:hover .form__name {
    color: $text-white;
    transform: translate(-2px, -24px);
}

.form__input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
    outline: none;

    color: $text-white;
    background-color: transparent;
}

.form__input:not(:placeholder-shown) + .form__name {
    transform: translate(-2px, -24px);
}

.form__input:hover, .form__input:focus {
    border-color: $text-white;
}

.form__textarea {
    display: block;
    width: 100%;
    resize: none;
    margin-bottom: 44px;

    color: $text-white;
    border: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
    outline: none;

    background-color: transparent;
}

.form__textarea::placeholder {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: rgba(157, 164, 189, 0.4);
}

.form__textarea:hover, .form__textarea:focus {
    border-color: $text-white;
}

.footer__send-button {
    padding: 12px 38px;
}


/* Контакты */
.footer__contacts {
    padding-top: 84px;
    height: inherit;
    text-align: center;

    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    
    color: $text-secondary;

    @media screen and (min-width: 768px) {
        text-align: start;
        padding-top: 100px;
    }

    @media screen and (min-width: 1280px) {
        padding-top: 0;
    }
}

.contacts {
    margin-top: 40px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        display: flex;
    }
}
    
.contacts__box {
    margin-bottom: 44px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        margin-bottom: 0;
        margin-right: 30px;
        width: 330px;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 70px;
    }
}

.contacts__address, .contacts__link {
    display: flex;
    align-items: center;
    
    font-style: normal;
    color: $text-secondary; 
}

.contacts__address {
    margin-bottom: 20px;
}

.contacts__address--mobile {
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.contacts__address--tablet {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.contacts__link--mail {
    margin-top: 20px;
    text-decoration: underline;
}

.footer__icon {
    margin-right: 16px;
}

.footer__icon--address {
    margin-top: 5px;
    align-self: baseline;
}

.footer__headline { 
    color: $text-white;
}

.footer__headline::before {
    background-color: rgba(157, 164, 189, 0.4);
}

.schedule__box {
    text-align: start;
}


//Копирайт
.copyright {
    padding-top: 44px;
    padding-bottom: 44px;

    @media screen and (min-width: 768px) {
        padding-top: 56px;
        padding-bottom: 56px;
    }
}

.copyright__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 767px) {
        height: 50px;
    }

}

.copyright__text {
    display: flex;
    align-self: flex-end;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;

    color: $text-secondary;
}

.copyright__socials {
    display: flex;
    align-self: flex-start;


    &::before {
        display: inline-block;
        content: '';
        margin-right: 40px;
        width: 60px;
        height: 1px;
        align-self: center;
       
            
        background-color: $text-primary
    }
}

@media screen and (max-width: 450px) {
    .copyright__socials {
        display: flex;
        flex-direction: column;
        margin-left: auto;
    }

    .copyright__link {
        margin-bottom: 15px;
    }
}

.copyright__link {
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.16em;

    color: $text-primary;

    &:first-child {
        margin-top: 15px;
        @media screen and (min-width: 451px) {
            margin-right: 40px;
            margin-top: 0;
        }
    }

    &:hover, &:focus {
        color: $primary-color;
    }
}