/* Почему именно мы */

/* .why-section {
     display: flex;
    justify-content: space-between; 
} */

.number-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 48%;
    padding: 0 100px;
}

.number-box {
    min-width: 170px;
    width: 48%;
    height: 132px;
    margin-top: 30px;
    
    background-color: #F7F7F7;
}

.number-box p {
    display: block;
    text-align: center;

    font-weight: 700;
    font-size: 42px;
    line-height: 1.357;
    letter-spacing: 0.05em;

    color: $text-primary;
}

.number-box span {
    display: block;
    text-align: center;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.02em;

    color: $text-primary;
}