.hero__title {
    font-family: Raleway;
    font-size: 48px;
    line-height: 1.16;
    letter-spacing: 0.05em;

    color: #FFFFFF;

    @media screen and (min-width: 1280px) {
        font-size: 72px;
        line-height: 1.18;
    }
}

.headline{
    display: block;
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: $text-primary;

    &::before {
        display: inline-block;
        content: '';
        margin-right: 20px;
        width: 60px;
        height: 1px;
        vertical-align: middle;
    
        background-color: rgba(48, 48, 48, 1);
    }
}

.section-title {
    font-family: Raleway;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;

    color: $text-primary;
}

.section-title--lighten {
    color: $text-white;
}